     <table border="0" cellspacing="0" cellpadding="2" width="900" align = "center" summary="Page Content">
      <tr>
        <td width="49" valign="top">&#160;</td>
        <td width="807" class="top"><span class="pageheadings3">Activities Notice Board</span>
        <td width="32" valign="top">&#160;</td>
      </tr>
          <table cellpadding="0" cellspacing="0" border="0" width="750" align = "center" summary="Society activities">
            <tr>
 
            </tr>
            <tr>
              <td class="b7">
                 <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Content">
                  <tr>
			<td>
			<p><span class="checklist">Planned events</span> <br> </p>
			<ul>
			<li><B>AGM</B> <BR>
				South Waikato early October 2023
				<BR>(link to notice)</li><BR>

			<li><B>Local trips</B></li><BR>

			<li><B>Tag-a-long trips trips</B><BR>
			<B>Nelson</B> -first week of November 2022 visiting Nelson area, Wharariki, Cobb Valley, Abel Tasman NP.<BR>
			Peak time for <I>Caladenia</I>s. - contact Gael Donaghy before mid October.
			</li></ul><BR>

		<p><span class="checklist">Projects</span><br></p>
                	 <ul>
 				<li>Current Research projects</li>
					<ul>
						<li><i>Prasophyllum</i></li>
						<li>Mycorrhizal associations</li>
					</ul>

				<li>Members projects</li>
				<ul>
				<li><i>Thelymitra longifolia</i> - Ian St George</li>
				<li><i>Pterostylis banksii</i> - Mark Moorhouse</li>
				</ul>
				</ul>
			<p><b>Requests for help on projects welcome</b> (especially by students)</p>
				
			</ul><br>
			</td>
                  </tr>
                 </table></td>
            </tr>
            <tr>
  
            </tr>
         </table>

          

            </tr>
        </table>

          <p>&nbsp;</p>
          </td>
          <td width="32" valign="top">&#160;</td>
      </tr>
    </table>

  </div>
  </div>
  <div id="columnbottom">&nbsp;</div>
</div>
</center>

