	<center>
          <table cellpadding="0" cellspacing="0" border="0" width="750" summary="NATIVE ORCHID GROUP CODE OF CONDUCT">
            <tr>
              <td height="10"><img src="Graphics/head_shade_750.jpg" alt="" /></td>
            </tr>
            <tr>
              <td class="b7"><table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Content">
                <tr>
                  <td width="95%">
                    <blockquote>
                      <p><span class="checklist"> <br />
                        THE NEW ZEALAND NATIVE ORCHID GROUP CODE OF CONDUCT: </span><br />
                        <br />
                      </p>
                    </blockquote>
                    <ul class="bullets">
                      <li>Regard the orchid tuber as sacred and leave it undisturbed. </li>
                    </ul>
                    <ul class="bullets">
                    <li>Take only photographs if a plant is scarce in a locality.
                      If you need a specimen for identification, take the minimum - don't take <br />
                      the whole plant unless there are more than twenty;
                      don't take more than 5% of any one plant; don't take flowers or fruit if there <br />
                      are few present; don't take duplicates.
                      It is illegal to take specimens of any native plant from a Protected Natural Area without <br />
                      official permission.</li>
                    </ul>
                    <ul class="bullets">
                      <li>Make sure you know whether it can be grown, and if so what its requirements are, before you take even a &quot;common&quot;                        native <br />
                        orchid for cultivation; where possible use seeds.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Preserve the habitat of all native plants: tread with care to minimise compaction of soil and disturbance of swamp habitat;                        <br />
                        &quot;garden&quot; minimally before taking photographs and do replace shelter if you have bent surrounding vegetation away.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Don't introduce any plant into wild habitat without proper authority.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Do tell the conservation people if you find a new site for a rare plant. Inform those who might unwittingly destroy a site with
                        <br />
                        normal maintenance activities. Take care who you tell about the whereabouts of a rare plant, and don't take big groups to visit.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Tell park or property administrators when they need to protect orchid habitat by clearing scrub, maintaining tracks,
                        spraying <br />
                        weeds 
                        or burning off.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Respect the rights and wishes of landowners and those of conservation people who ask you not to visit a site at certain times.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Make little impact on the environment; dispose of rubbish responsibly.</li>
                      </ul>
                    <ul class="bullets">
                      <li>Do not try to export any orchid or part of an orchid from New Zealand. It is illegal under international agreements to do so.</li>
                    </ul>
                    <p>&nbsp;</p>
                    </td>
                  <td width="5%">&nbsp;</td>
                </tr>
              </table></td>
		</center>
            </tr>
            <tr>
              <td height="26"><img src="Graphics/foot_shade_750.jpg" alt="" /></td>
            </tr>
        </table>

          <p>&nbsp;</p>
          </td>
          <td width="32" valign="top">&#160;</td>
      </tr>
    </table>

