  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1"><center>    

     <table border="0" cellspacing="0" cellpadding="2" width="750" summary="Page Content">
      <tr>
        <td width="49" valign="top">&#160;</td>
        <td width="701" class="top"><span class="pageheadings3">Conservation</span>
        <p class="boldgrey2b"><br />PLEASE HELP TO CONSERVE OUR NATIVE ORCHIDS </p></td>
        <td width="32" valign="top">&#160;</td>
      </tr>
          <table cellpadding="0" cellspacing="0" border="0" width="750" summary="NATIVE ORCHID GROUP conservation2">
            <tr>
              <td height="10"><img src="Graphics/head_shade_750.jpg" alt="" /></td>
            </tr>
            <tr>
              <td class="b7">
			<p>Conservation has many aspects and may not involve active management. Merely recording the presence of an orchid by noting the location and numbers, 
				and perhaps photographing it helps assessing its distribution and hence its rarity. Reporting details on where it is growing - its habitat- will aid 
				in understanding why the plant is growing there and will contribute to a knowledge base for cultivation. More importantly it may help in deciding on 
				places where it can be successfully established either through transplanting or planting out from cultivation.</p>

			<p>Before we make any intervention we need to consider why we need to do anything. 
				<ul/><li>Do we wish to enrich an area, such as an urban restoration project which may be too remote from natural seed sources?</li>
				<li>Is the plant at risk? Is it a threatened species?</li></ul>
			 If it is threatened: 
				<ul><li>why is it threatened?</li>
				<li> Limited natural distribution?</li>
				<li> Declining habitats?</li>
				<li> Pests? </li></ul>

			The answer to each question may result in a different action.</p>

			<p>Active management in situe may involve weeding or perhaps pest control but may sometimes just involve physical protection. 
			Bringing a species into cultivation may rarely be necessary and is usually ultimately to increase plant numbers. Collecting seed and germination is a skilled process 
			For many species we are just beginning to understand their particular requirements. Transplanting a few plants may be to act as seed source nucleus. 
			But many species are known to be difficult to transplant for a host of known and unknown reasons and that is best avoided.</p>

			<p>For further information see St George I & McCrae1990: New Zealand orchids: natural history and cultivation. Available as a PDF on request.</p>
			</td>
            </tr>
            <tr>
              <td height="26"><img src="Graphics/foot_shade_750.jpg" alt="" /></td>
            </tr>
         </table>

<P></P>
          <table cellpadding="0" cellspacing="0" border="0" width="750" summary="NATIVE ORCHID GROUP conservation2">
            <tr>
              <td height="10"><img src="Graphics/head_shade_750.jpg" alt="" /></td>
            </tr>
            <tr>
              <td class="b7">
                 <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Content">
                  <tr>
        <td valign="top" class="bodyText">&#160;</td>
        <td valign="top"><p class="boldbody">You Can Help By:</p>
          <ul class="bullets">
            <li><strong>Not being tempted to dig them up to take home</strong><br />
              <span class="body">The terrestrial species usually can't be grown in cultivation without specialist knowledge.<br />
                They will just die down, never to emerge again.<br />
                It can be hard to resist the temptation... but please try. </span></li>
          </ul>
          <ul class="bullets">
            <li><strong>Not being tempted to pick the flowers</strong><br />
              <span class="body">Each flower will set thousands of tiny pepper-like seeds... one less flower equals the potential loss of many plants.<br />
                Anyway, the flowers wilt very quickly once picked. </span></li>
          </ul>
          <ul class="bullets">
            <li><strong>Report findings of any rare or uncommon species</strong><br />
              <span class="body">Either send an email to the journal editor, or notify your local DOC office.<br />
                For a list of the threatened species... Please refer to the list below. </span></li>
          </ul>
          <ul class="bullets">
            <li><strong>Keep an eye out for anyone selling Native Orchids</strong><br />
              <span class="body">Reputable garden centres don't sell our native orchids... but occasionally some places do sell the common<br />
                epiphytic species, although this is fairly rare nowadays. Keep an eye out for anyone advertising the terrestrial<br />
                species for sale and report them to DOC immediately. </span></li>
          </ul>

                  </tr>
                 </table></td>
            </tr>
            <tr>
              <td height="26"><img src="Graphics/foot_shade_750.jpg" alt="" /></td>
            </tr>
         </table>

      <tr>
          <p>&#160;</p>
          <p><span class="checklist"><br />
            <br />
  <p>&nbsp;</p>
          
  </div>
</center> 
 </div>
</div>
