<center>    
<table border="0" cellspacing="0" cellpadding="2" width="900" summary="Website Contacts">

         <tr>
            <td width="39" valign="top">&#160;</td>
           <td width="621" class="top"><P><span class="pageheadings3">NZ Native Orchid Group</span></p>
         <P><span class="pageheadings3">Contact Information</span></P>
            <table  border="0" cellpadding="0" summary="Contact Details">
                <tr>
                  <td width="500"><span class="normboldarial">Chairperson</span></td>
                  <!td width="45">&#160;</td>
                  <td width="508" class="normboldarial">Editor</td>
                  <td width="508" class="normboldarial">NZNOG Treasurer</td>
                </tr>
                <tr>
                  <td class="body"><span class="body">Gael Donaghy<br />
                      52 Anne Road<br />
                      Bellevue<br />
                      Tauranga 3110<br />
                      New Zealand<br />
                      Email: 
                      <script type="text/javascript" src="scripts/em_Chair.js">
                      </script>
                    </span></td>
                  <!td>&#160;</td>
                  <td class="body">Ian St George<br />
                    32 Hawkestone Street<br />
                    Thorndon<br />
                    Wellington 6011<br />
                    New Zealand<br />
                    Email: 
                    <script type="text/javascript" src="scripts/em_Edit.js">
                    </script>
                  </td>
                   <td class="body">Pam Shearer<br />
                  P O Box 46196<br />
                  Herne Bay<br />
                  Auckland 1147<br />
                  New Zealand <br />
                    Email: 
                    <script type="text/javascript" src="scripts/em_Treas.js">
                    </script>
                  </td>
               </tr>
              </Table>
          </td>
             <td valign="top">
              <p><img src="scripts/img/NZNOG_Logo.png" alt="NZNOG" width="180" height="182" vspace="15"
                  border="0">&#160;</p>
            </td>
          </tr></table>
        <table  border="0" cellpadding="0" width="900" summary="Contact Details">
           <tr>
            <td width="45">&#160;</td>
            <td width="280">
                 <p>&nbsp;</p>
             <p class="boldbody">Books &amp; Publications</p>
              <p class="bodyText2">Gael Donaghy:
                <script type="text/javascript" src="scripts/em_publications.js"></script></p>
<BR><BR><BR><BR>
            </td><td width="250">
              <p>&nbsp;</p>
              <p class="boldbody">Subscriptions</p>
              <p class="bodyText2">Graeme Jane:
                <script type="text/javascript" src="scripts/em_Mbrships.js"></script></p>
		
            </td><td width="250">
              <p class="boldbody">Website</p>
 
              <p class="bodyText2">Bill Campbell: 
               <script type="text/javascript" src="scripts/em_WebM.js"></script></p>

            <td></td>
              <p>&nbsp;</p>
             </td><td width="420">
                <p>&nbsp;</p>
              </td></tr>
    
           </table>
            <p>&nbsp;</p>
</center> 

               <table cellpadding="0" cellspacing="0" border="0" width="400" align="center" summary="copyright">
               <tr>
                <td height="10"><img src="scripts/img/head_shade_400.jpg" alt="" /></td>
                 </tr>
                 <tr>
                 <td class="b3"> 

                  <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Content">
                  <tr>
                 <td width="3%">&nbsp;</td>
                 <td width="95%"><p class="boldbody">Copyright Information</p>
                 <p class="body">All images remain copyright of the named photographer. </p>
                 <p class="body">The images are available for private use and school projects. </p>
                 <p class="body">Images can be used in research papers provided the photographer <br />
                 is acknowledged (and the NZ Native Orchid Group as the source).</p>
                 <p class="body">Requests for all other use (such as in printed publications and display <br />
                  on other websites) must be made to the NZ Native Orchid Group. </p>
                </td>
                </tr>
                </table>
    
              </td>
              </tr>
               <tr>
                <td height="26"><img src="scripts/img/foot_shade_400.jpg" alt="" />
                </td>
                </tr>
                </table>          
            </td>
          </tr>
        </table></td>
        <td>&#160;</td>
      </tr>
    </table>
 
