<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Zealand (NZ) Native Orchids</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="description" content="A site dedicated to the Wild Native Orchids of New Zealand. Contains a large photo section, descriptions of the various species, their habitats, and a whole lot more." />
<meta name="keywords" content="new, zealand, nz, native, orchid, orchids, species, habitats, photographs, news, checklist, photo, pterostylis, thelymitra, nematoceras, petalochilus, tree, corybas, microtis, wild" />
<meta name="author" content="Michael Pratt" />
<meta name="copyright" content="New Zealand Native Orchid Group" />
<meta name="rating" content="general" />
<meta name="category" content="science" />
<meta name="country" content="new zealand" />
<meta name="content-language" content="english" />
<meta name="distribution" content="global" />
<meta name="verify-v1" content="+UxTKDw7qzNxZ/5TZmW9Kv7q4DMbxkbxbP+b6IaqyTE=" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed" /> 
<link href="scripts/p7CRV07.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="scripts/Orchids.css" type="text/css" />
<link rel="stylesheet" href="scripts/NatureWatch.css" type="text/css" />
<link href="scripts/p7CRV07.css" rel="stylesheet" type="text/css" />

