  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">


    <table border="0" cellspacing="0" cellpadding="2" width="900" summary="Page Title">

      <tr>
        <td valign="top" class="bodyText">&#160;</td>
        <td valign="top">
      <BR><span class="pageheadings3">Allied Sites</span><br /><br />
   
       <table align="left" cellpadding="0" cellspacing="40" width="820" summary="Page Content">
 
            <tr>
              <td><div class="c3"><a href="http://www.anos.org.au/" target="_parent"><img src="Graphics/ANOS_R02.jpg" alt="Australasian Native Orchid Society" width="208" height="85" border="0"></a></div></td>
		<td>The Australasian Native Orchid Society is an umbrella organisation that provides contacts with the state and regional orchid societies in Australia. The primary focus is on cultivation and conservation of orchids. Many Australian groups carry out restoration work and hold day trips as well as  longer feld trips. </td></tr>
            <TR>    <td>NZNOG Facebook page needs to be added.</td></tr>
              <td><p>&#160;</p></td></tr>

            <tr>
              <td width="240">&nbsp;Need entry for NZ Native Orchid Council</td>
              <td width="540">&nbsp; The New Zealand Orchid Council is an umbrella group for local Societies with an interest in growing orchids especially horticultural forms. There are over 20 regional societies?</tr>


              <td><div class="c3"><a href="http://www.orchidwire.com/" target="_parent"><img src="Graphics/orchidwre2012b.jpg" alt="Orchidwire" width="217" height="83" border="0"></a></div></td>
              <td>Orchidwire is an international site that provides a worldwide list of societies</td>
            </tr>
            <tr>
               <td><p>&#160;</p></td></tr>
            <tr>
              <td><div class="c3"><a href="https://www.landcareresearch.co.nz/tools-and-resources/identification/key-to-native-orchids-of-new-zealand/" target="_parent"><img src="Graphics/logo-landcare-key.gif" alt="Flickr" width="220" height="39" border="0" /></a></div></td>
              <td>This Landcare site provides a useful and flexible key to the native orchids.</td><tr>
              <TR><td><div class="c3"><a href="http://www.flickr.com/groups/nzno/" target="_parent"><img src="Graphics/flickr_group.gif" alt="Flickr" width="156" height="47" border="0"></a></div></td>
              <td>The Flickr site has many photos of New Zealand native orchids.</td>
              <td>&#160;</td></TR>
		<tr>
              <td><div class="c3"><a href="http://www.nzpcn.org.nz/" target="_parent"><img src="Graphics/NZPCN_02.gif" alt="NZ Plant Conservation Network" width="220" height="88" border="0"></a></div></td>
              <td>The New Zealand Plant Conservation Network provides information on many aspects of the New Zealand Flora and lists
			 of species at over 7000 localities. It has very detailed descriptions of orchids and lots of good photos.</td></tr>
              <td><div class="c3"></div></td>
               <td>&#160;</td></tr>
           </tr>
	</table>

       <span class="pageheadings3">Places</span><br><br>

           <table align="left" cellpadding="0" cellspacing="40" width="820" summary="Page Content">
            <tr>
              <td width="240">&nbsp;</td>
              <td width="540">&nbsp;</td>
             </tr>
            <tr>
              <td><div class="c3"><a href="http://www.wildwoodgallery.co.nz/Iwitahi.orchids.htm" target="_parent">
                   <img src="Graphics/INOPA.gif" alt="Iwitahi Native Orchid Heritage Protection Area" width="220" height="86" border="0"></a></div></td>
              <td>Iwitahi is the location of a reserve maintained by the Taupo Orchid Society where you may see a wide range of New Zealand native orchids especially in the spring.</td></tr>

            </tr>
              <td class="cellgap">&#160;</td>
              <td class="cellgap">&#160;</td>
              <td class="cellgap">&#160;</td>
              <td class="cellgap">&#160;</td>
              <td class="cellgap">&#160;</td>
            </tr>
          </table>
          
          </td>
        <td>&#160;</td>
      </tr>
    </table>
  </div>
  </div>
</div>

