    <div id="content">
      <div id="pagetop">&nbsp;</div>
      <div id="c1">
        <table border="0" cellspacing="0" cellpadding="2" width="900" summary="Page Content">
          <tr>
            <td width="39" valign="top">&#160;</td>
            <td width="621" class="top"><span class="pageheadings3">NZ Native Orchid Group</span>
              <br />
              <p class="intro2"><br />Join the New Zealand Native Orchid Group </p>
            </td>
            <td width="228" valign="top">&#160;</td>
          </tr>
          <tr>
            <td valign="top">&#160;</td>
            <td valign="top">
              <p class="body">The New Zealand Native Orchid Group is made of members throughout New Zealand and abroad
                who are united
                <br />
                in the
                common purpose of their strong interest in the Native Orchids of New Zealand.
              </p>
              <p class="body">The New Zealand Native Orchid Group consists of around 160 active members who engage in
                the
                observation,

                <br />
                study
                and conservation of New Zealand's Native Orchids.
              </p>
              <p class="body">The members are connected by their quarterly Journal which reflects the dedicated actions
                and
                knowledge of the members.
                <br />
                They also hold Field Days in association with their AGM.
              </p>
              <p class="body">For further information contact:</p>
              <br />
              <table width="550" border="0" cellpadding="0" summary="Contact Details">
                <tr>
                  <td width="189"><span class="normboldarial">Chairperson</span></td>
                  <td width="45">&#160;</td>
                  <td width="308" class="normboldarial">Editor</td>
                </tr>
                <tr>
                  <td><span class="body">Gael Donaghy<br />
                      52 Anne Road<br />
                      Bellevue<br />
                      Tauranga 3110<br />
                      New Zealand<br />
                      Email: 
                      <script type="text/javascript" src="scripts/em_GD.js">
                      </script>
                    </span></td>
                  <td>&#160;</td>
                  <td class="body">Ian St George<br />
                    32 Hawkestone Street<br />
                    Thorndon<br />
                    Wellington 6011<br />
                    New Zealand<br />
                    Email: 
                    <script type="text/javascript" src="scripts/em_Ian.js">
                    </script>
                  </td>
                </tr>
              </table>
              <br />
              <br />
              <br />
              <p class="c1"><span class="boldbody">MEMBERSHIP </span></p>
              <p class="c1"><span class="body">Membership including the Journal subscription can be obtained from the
                  NZNOG Treasurer.<br />
                  Contact Pam Shearer at:
                  <script type="text/javascript" src="scripts/em_PS.js">
                  </script>
                </span></p>
              <p class="c1"><span class="body">NZNOG Treasurer<br />
                  Pam Shearer<br />
                  P O Box 46196<br />
                  Herne Bay<br />
                  Auckland 1147<br />
                  New Zealand </span></p>
              <p class="c1"><span class="boldarial"><br />
                  Annual Subscription Rates:</span><br />
                <span class="small7">New Zealand Subscription with 4 printed Journals per year: $ 35.00. <br />
                  Overseas Subscription with 4 printed Journals per year: $ 55.00. <br />
                  Email Subscription with the Journals emailed to you in PDF format: $ 15.00. <br />
                  Subscription runs from 1st October - 30th September. </span>
              </p>
              <p class="c1"><br />
                <img src="Graphics/printer3.gif" alt="Print" width="25" height="25" class="picture" />&#160;&#160;<a
                  href="subscription_form.html" target="_blank" class="ftlink">CLICK HERE FOR A PRINTABLE SUBSCRIPTION
                  FORM</a>
              </p>
            </td>
            <td valign="bottom">
              <p><img src="Graphics/NZNOG_Logo_soft.gif" alt="NZNOG" width="180" height="182" vspace="15"
                  border="0" />&#160;</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="columnbottom">&nbsp;</div>
  </div>
  <div id="footer">
    <div class="smalllitegrey" id="footercontent">&copy; New Zealand Native Orchid Group</div>
  </div>
</body>

</html