/* CSS Document */
html,body{background-color:#FFFFFF; padding-top:5px;padding-left:5px;padding-bottom:8px;border:none;}
div.c2,p.c2{text-align:right;}
.t1{color:##000000;font:18px arial;font-weight:bold;letter-spacing:.1em;line-height:20px;}
.t2{color:##000000;font:14px arial;font-weight:bold;line-height:14px;}
.t3{color:##000000;font:12px arial;font-weight:bold;line-height:14px;}
.t4{color:##000000;font:10px arial;font-weight:bold;line-height:14px;}
.t5{color:##000000;font:12px arial;font-weight:normal;line-height:18px;}
.t6{color:##000000;font:12px arial;font-weight:normal;line-height:14px;letter-spacing:.1em;}
.t7{color:##000000;font:10px arial;font-weight:normal;line-height:14px;}
