{% include head.html %}
{% include Nav_Scripts_descr.html %}
<script type="text/javascript" src="../Scripts/p7PMMscripts.js"></script>
<script type="text/javascript" src="../Scripts/MM_swapImgRestore.js"></script>
<script type="text/javascript" src="../Scripts/p7IRMscripts.js"></script>
<link href="../Scripts/p7IRM02.css" rel="stylesheet" type="text/css" media="all" />
<!script type="text/javascript" src="../Scripts/showpic.js"></script>
{% include Nav_Menu_descr.html %}
	<table align = "center">
      <tr>
{% include_relative /_body/{{ page.outp }} %} 
</td><tr></table>
{% include footer.html %}